apiVersion: apps/v1
kind: Deployment
metadata:
  name: chaniweb-backend
spec:
  replicas: 2 # Escalabilidad
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: chaniweb-backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: url