apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-nginx
spec:
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
        - name: proxy
          image: tu-registro.azurecr.io/chaniweb-proxy:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: chaniweb-entrypoint
spec:
  type: LoadBalancer
  selector:
    app: proxy
  ports:
    - port: 80
      targetPort: 80
